/**
 * -------------------------------------------------
 * TABLE OF CONTENTS:
 *
 * 1.0 RESET
 * 2.0 IMPORTS
 * 3.0 MIXINS
 * 4.0 VARIABLES
 * 5.0 EFFECTS
 * 6.0 GLOBALS
 * 7.0 HEADER
 * 8.0 CONTENT
 * 9.0 FOOTER
 * 10.0 META
 * --------------------------------------------------
*/

/**
 * 1.0 $RESET
 * -----------------------------------------------------------------------------
 */

@import "reset";

/**
 * 2.0 $IMPORTS
 * -----------------------------------------------------------------------------
 */

@import "compass/css3";

/**
 * 3.0 $MIXINS
 * -----------------------------------------------------------------------------
 */



/**
 * 4.0 $VARIABLES
 * -----------------------------------------------------------------------------
 */

/**
 * 5.0 $EFFECTS
 * -----------------------------------------------------------------------------
 */


/**
 * 6.0 $GLOBALS
 * -----------------------------------------------------------------------------
 */

.globals {
  height: 100%;
  font-size: 1.6rem;
  a {
    color: #EB0F26;
    &:hover {
      text-decoration: underline;
    }
  }
}

.grid {
  max-width: 96rem;
  min-height: 100%;
  margin: 0 auto;
  border-left: 0.1rem solid #ccc;
  border-right: 0.1rem solid #ccc;
  background: #FFF;
}



/**
 * 7.0 $HEADER
 * -----------------------------------------------------------------------------
 */

.header-container {
  border-bottom: 0.1rem solid #ccc;
  padding: 2rem;
}

.page-title {
  font-size: 4rem;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 1;
  a {
    color: #555;
    &:hover {
      text-decoration: none;
    }
  }

}



/**
 * 8.0 $CONTENT
 * -----------------------------------------------------------------------------
 */

.content-container {
  padding: 2rem;
  h2 {
    font-size: 3rem;
  }
}

.box {
  float: left;
  width: 33.33%;
  border-right: 0.1rem solid #ccc;
  border-bottom: 0.1rem solid #ccc;
  padding: 2rem;

  &:nth-of-type(3n) {
    border-right: 0.1rem solid transparent;
  }

  a {
    display: block;
    height: 20rem;
    overflow: hidden;
    @include transition(all 200ms ease 0s);

    &:hover {
      opacity: 0.8;
    }
  }

  @media screen and (max-width:800px) {
    width: 50%;
      &:nth-of-type(3n) {
        border-right: 0.1rem solid #CCC;
      }
      &:nth-of-type(2n) {
        border-right: 0.1rem solid transparent;
      }
  }
  @media screen and (max-width:500px) {
    width: 100%;
    border-right: 0.1rem solid transparent;
  }
}


.email-container {
  padding: 2rem;

  .email-image {
    float: right;
    width: 65%;
    padding-right: 2rem;
  }

  .email-info {
    float: right;
    width: 35%;
    h2 {
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1;
    }
    ul {
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 700px) {
    .email-image {
      width: 100%;
      padding-right: 0;
    }
    .email-info {
      width: 100%;
      margin-bottom: 2rem;

    }
  }

}

/**
 * 9.0 $FOOTER
 * -----------------------------------------------------------------------------
 */

.footer-container {
  padding: 2rem;

  .credits {
    float: right;
  }
}

/**
 * 10.0 $META
 * -----------------------------------------------------------------------------
 */
